<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>opening_hours.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>opening_hours_integration_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>opening_hours_integration_tests_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>opening_hours_supported_features_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>opening_hours_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>opening_hours_tests_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>670C61E61AC3511700C38A8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>670C61FE1AC351AC00C38A8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91738B21BECD02B00717F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91738BF1BECD08500717F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91738CE1BECD36E00717F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91739071BECD60000717F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
